@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --red-color: #fb3826;
  --beige-color: #fbf1d9;
  --bg-color: #fffdf0;
  --dark-color: #232526;
  --gray-color: #777777;
  --font-size: 14px;
  --font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div#root {
  min-height: 100vh;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--dark-color);
}
body {
  background-color: var(--bg-color);
}

main {
  margin: 0 auto;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: min(10vw, 100px) 0;

  width: 100%;
  text-align: center;
}

.menu-header h2 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: min(10vw, 6rem);
}

.menu {
  max-width: 1600px;
  padding: 0 4rem;
  margin: 0 auto;
}
.food-list {
  columns: 5 250px;
  column-gap: 2rem;
}

.food-list > li {
  list-style-type: none;
}

.food-card {
  color: var(--dark-color);
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--beige-color);
  margin-bottom: 2rem;
}

.food-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.food-card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.food-card-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.food-card-description {
  font-size: 1rem;
  color: var(--gray-color);
}

.food-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-card-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.food-card-button {
  text-align: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background-color: var(--red-color);
  color: var(--beige-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.food-card-button:active {
  transform: scale(0.9);
}

a.ancle-card {
  text-decoration: none;
  margin: 0;
}

.ancle-card:active {
  transform: scale(0.9);
}

@media (max-width: 700px) {
  .food-list {
    columns: 2 auto;
    gap: 1rem;
  }
  .food-card {
    border-radius: 24px;
    background-color: var(--beige-color);
    margin-bottom: 1rem;
  }
  .food-card img {
    height: 120px;
  }
  .food-card-content {
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }
}
